* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #19231A;
  height: 150px;
  padding: 20px;
  color: white;
}

.footer {
    position: fixed;
    height: 165px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.App-logo {
  border-radius: 50%
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.RoomTitle {
  width: 100px;
}

table {
  border-collapse: collapse;
}

td,th{
  padding:0.5rem;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
