* {
  font-family: 'Montserrat', sans-serif;
  color: #c9e3ac;
  margin-bottom: 2px;
}

button {
  border-radius: 20px;
  border-color: black;
  background-color: #90BE6D;
  color: black;
}

input {
  border-radius: 20px;
  border-color: black;
  background-color: #eaefbd;
  color: black;
  padding: 5px;
}

.SubmitButton {
  background-color: #19231a;
  color: #eaefbd;
  margin: 15px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #19231A;
  height: 170px;
  padding: 20px;
  padding-bottom: 80px;
  color: white;
  border-color: black;
  border-style: solid;
}

.footer {
  position: fixed;
  height: 165px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#PlayPauseButton, #NextButton {
  position: fixed;
  bottom: 180px;
  text-align: center;
}

#PlayPauseButton {
  left:45vw;
  width:50px;
  height:50px;
  background: url("noun_243845_cc.png");
  background-color: #90BE6D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
}

#NextButton {
  left:52vw;
  width:50px;
  height:50px;
  background: url("noun_256167_cc_smaller.png");
  background-color: #90BE6D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 50%;
}

.App-logo {
  border-radius: 50%
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.RoomTitle {
  width: 100px;
}

table {
  border-collapse: collapse;
}

td,th{
  padding:0.5rem;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
