.App {
  text-align: center;
}

.App-header {
  background-color: #19231A;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-logo {
  border-radius: 50%
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Parties {
  display: inline-block;
  margin-top: 10px;
  width: 500px;
  height: 30vh;
  border-right: 1px solid white;
  text-align: left;
  vertical-align: top;
}

.Search {
  display: inline-block;
  width: 70vh;
  height: 30vh;
  vertical-align: top;
}

#top {

}

#bottom {
  bottom: 0;
  width: 100%;
  position:absolute;
}
